@charset "utf-8";

/*HTML5 Doctor Reset CSS*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

nav ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

mark {
  background-color:#ff9;
  color:#000; 
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}
/*HTML5 Doctor Reset CSS記述終わり*/












.inner {
  font-family: serif;
  width:100%;
  overflow:hidden;
}
/*header*/
header {
  display: flex;
  justify-content: space-between;
  background-color: #26d0c9;
  height: 80px;
  
}
.header-logo {
  font-size: 40px;
  font-weight: bold;
  padding: 23px 0px 0px 40px;
  color: aliceblue;
}
span {
  color: red;
}
.header-list ul {
  display: flex;
}
.header-list li {
  list-style: none;
  padding: 50px 70px 0px 0px;
  font-weight: bold;
}
.header-list li a{
  text-decoration: none;
  color:aliceblue;
}
.header-list li a:hover {
  border-bottom: 2px solid aliceblue;
  padding-bottom: 5px;
}
/*main*/
main {
  margin: 80px auto 80px;
  width: 90%;
}
.main-title h1 {
  font-size: 120px;
  padding: 0px 0px 10px 0px;
}
.main-title p {
  font-size: 40px;
  padding: 0px 0px 60px 0px;
}
.main-subtitle {
  font-size: 20px;
  border-bottom: 1px solid #e6e6fa;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}
.main-item {
  display: flex;
  justify-content: space-around;
  margin-bottom: 60px;
}
/*form*/
.form h3 {
  border-bottom: 1px solid #e6e6fa;
  padding-bottom: 10px;
}
.form p {
  padding: 20px 0px 5px 0px;
}
input {
  padding: 5px 80px;
}
textarea {
  padding: 30px 200px;
}
/*footer*/
footer {
  background-color: darkslategray;
  height: 100px;
}
footer p {
  color: aliceblue;
  text-align: center;
  padding-top: 45px;
}



















